#carousel {
    width: 80%;
    border: 2px solid #1c5ba3;
    margin: 0 auto;
    text-align: center;
    

    .picts img {
        max-width: 100%;
        display: none;
    }
    .picts img:first-child {
        display: block;
    }

    .buttons button {
        padding: 4px;
        margin: 12px;

    }
}